<a href="https://colab.research.google.com/github/elonezra/deeplearningproject/blob/main/final_project_deep_learning_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Authors: Avi and Elon ü§ó

In [15]:
# Importng necassary libraries
import pandas as pd
import numpy as np
import tensorflow.compat.v1 as tf
tf.compat.v1.disable_eager_execution()
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

In [16]:
df = pd.read_csv('BTC-USD.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [17]:
# We don't need the "Adj Close" column because this column is the same as the "Close" column,
# we are going to check it before earasing to make sure our assumption is true.
print(df['Adj Close'].count(), df['Close'].count()) # In this line we can see that the number of lines in both of the columns is equal
print(len(df["Close"] == df["Adj Close"])) # and in this line we compared between those columns and get as result that all lines are equal
# thus, we can remove "Asj Close" column
df = df.drop(['Adj Close'], axis = 1)
df.head()

2713 2713
2713

         Date        Open        High         Low       Close    Volume
0  2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
1  2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2  2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
3  2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
4  2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [18]:
# now we want to change the 'Close' column to be 'Open_Close_Mean' column because,
# it's more common to predict the mean between the Open price and the Close price
df['Close'].rename('Open_Close_Mean')
df['Open_Close_Mean'] = (df['Open'] + df['Close']) / 2
df = df.drop(['Close'], axis=1)

In [19]:
# In the code below we will see that our dataframe uses an object column which is not good
# because we need a numeric dataframe so, we convert this column to int64 type
# by removing the '-' char
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2713 non-null   object
 1   Open             2713 non-null   float64
 2   High             2713 non-null   float64
 3   Low              2713 non-null   float64
 4   Volume           2713 non-null   int64
 5   Open_Close_Mean  2713 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 127.3+ KB

In [20]:
int(df.iloc[1][0].replace('-', ''))

C:\Users\elone\AppData\Local\Temp\ipykernel_54160\84532947.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  int(df.iloc[1][0].replace('-', ''))

20140918

In [21]:
df["Date"] = df["Date"].apply(lambda x: x.replace('-','')).apply(pd.to_numeric)

In [22]:
# Now, after we convert the "Date" column to numeric type, we can see the new data as request
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2713 non-null   int64
 1   Open             2713 non-null   float64
 2   High             2713 non-null   float64
 3   Low              2713 non-null   float64
 4   Volume           2713 non-null   int64
 5   Open_Close_Mean  2713 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 127.3 KB

       Date        Open        High         Low    Volume  Open_Close_Mean
0  20140917  465.864014  468.174011  452.421997  21056800       461.599015
1  20140918  456.859985  456.859985  413.104004  34483200       440.649993
2  20140919  424.102997  427.834991  384.532013  37919700       409.449494
3  20140920  394.673004  423.295990  389.882996  36863600       401.788498
4  20140921  408.084991  412.425995  393.181000  26580100       403.453003

$\sigma = \sqrt(\mu_2) = \sqrt(1/n \sum(x_i - x')^2)$

$ùúá^{ùëô,ùëó}= \frac{1}{m} ‚àë_{ùëñ=0}^{ùëö}{ùëß_ùëñ^{ùëô,ùëó}}$ 

$ùúé^{ùëô,ùëó}=\sqrt{‚àë_{ùëñ=0}^ùëö(ùëß_ùëñ^{ùëô,ùëó}‚àíùúá^(ùëô,ùëó) )^2 }$

$\overline{ùëß_ùëñ^{ùëô,ùëó}}¬†ÃÇ= \frac{ùëß_ùëñ^{ùëô,ùëó}‚àíùúá^{ùëô,ùëó}}{ùúé^{ùëô,ùëó}+ùúñ} $

In [23]:
def mu(data):
    return np.mean(data)/len(data)

def standard_deviation(data, mu):
  # Calculate the variance of the data.
  variance = np.sum((data - mu)**2)
  # Calculate the standard deviation of the data.
  standard_deviation = np.sqrt(variance)
  return standard_deviation

In [24]:
# As we can see, the data is not normalized so the next steps will focus on normalizing
# the data to numbers from 0 to 1 i.e. [0, 1]
epsilon = 0.00001


for column in df.columns:
    if(column != 'Open_Close_Mean'):
        df[column] = df[column].apply(lambda x: (x - mu(df[column])) / standard_deviation(df[column], mu(df[column]))+epsilon)



#
# df = df.apply(lambda x: (x - mu(x)) / standard_deviation(x, mu(x))+epsilon)

# df = df.apply(lambda x: x/x.max())
df.head()

       Date      Open      High       Low    Volume  Open_Close_Mean
0  0.019172  0.000460  0.000451  0.000461  0.000022       461.599015
1  0.019172  0.000452  0.000440  0.000422  0.000032       440.649993
2  0.019172  0.000420  0.000412  0.000393  0.000035       409.449494
3  0.019172  0.000391  0.000408  0.000398  0.000034       401.788498
4  0.019172  0.000404  0.000398  0.000402  0.000026       403.453003

In [25]:
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame
# Replace 'target' with your target column name
X = df.drop(['Open_Close_Mean'], axis=1)
y = df['Open_Close_Mean']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set size:", len(X_train))
print("Testing set size:", len(X_test))

Training set size: 2170
Testing set size: 543

In [26]:
# to extract the numebr of features in out dataset we need to index to the
# second element in the shape of the dataframe which is the number of columns
# in our dataframe and -1 for the features without the label
features = df.shape[1] - 1
x = tf.placeholder(tf.float32, [None, features])
y = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([features,1]))
b = tf.Variable(tf.zeros([1]))
pred = tf.matmul(x,W) + b
loss = tf.reduce_mean(tf.pow(pred - y, 2))
update = tf.train.GradientDescentOptimizer(0.001).minimize(loss)
data_x = X_train
data_y = y_train.values.reshape(-1, 1)
sess = tf.Session()
sess.run(tf.global_variables_initializer())
for i in range(0,100000):
    sess.run(update, feed_dict = {x:data_x, y:data_y})
    if i % 10000 == 0 :
        pass
        # print('Iteration:' , i , ' W:' , sess.run(W) , ' b:' , sess.run(b), ' loss:', loss.eval(session=sess, feed_dict = {x:data_x, y:data_y}))

Iteration: 0  W: [[0.43232664]
 [0.7459237 ]
 [0.74585915]
 [0.7452303 ]
 [0.6038394 ]]  b: [22.480965]  loss: 381556300.0
Iteration: 10000  W: [[ 216.97946]
 [5069.9585 ]
 [5069.215  ]
 [5062.5396 ]
 [3630.5989 ]]  b: [11039.22]  loss: 246921250.0
Iteration: 20000  W: [[ 217.9559]
 [9932.347 ]
 [9930.843 ]
 [9917.718 ]
 [7070.3604]]  b: [10841.046]  loss: 238648770.0
Iteration: 30000  W: [[  218.90852]
 [14712.517  ]
 [14710.154  ]
 [14691.035  ]
 [10445.797  ]]  b: [10645.802]  loss: 230657800.0
Iteration: 40000  W: [[  219.91457]
 [19412.328  ]
 [19409.25   ]
 [19383.83   ]
 [13757.753  ]]  b: [10454.395]  loss: 222938240.0
Iteration: 50000  W: [[  220.8301]
 [24032.398 ]
 [24028.395 ]
 [23997.377 ]
 [17007.133 ]]  b: [10266.306]  loss: 215481890.0
Iteration: 60000  W: [[  221.75343]
 [28574.283  ]
 [28569.412  ]
 [28533.225  ]
 [20195.953  ]]  b: [10080.97]  loss: 208279070.0
Iteration: 70000  W: [[  222.66896]
 [33038.21   ]
 [33032.383  ]
 [32992.38   ]
 [23324.684  ]]  b: [9899.341]  loss: 201322530.0
Iteration: 80000  W: [[  223.55432]
 [37428.805  ]
 [37421.92   ]
 [37377.016  ]
 [26394.24   ]]  b: [9720.798]  loss: 194600640.0
Iteration: 90000  W: [[  224.36862]
 [41744.86   ]
 [41737.42   ]
 [41688.285  ]
 [29405.66   ]]  b: [9544.85]  loss: 188107400.0

In [27]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

b = tf.cast(b, tf.float32)  # Ensure b is float32
X_test_np = X_test.to_numpy().astype('float32')  # Convert X_test to numpy array of type float32

# Compute y_pred
y_pred_tensor = tf.matmul(X_test_np, W) + b  # Now X_test, W, and b are of the same type
y_pred = sess.run(y_pred_tensor)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate the range of the target variable
range_y = np.max(y_test) - np.min(y_test)

# Calculate NRMSE
nrmse = rmse / range_y

# Assuming y_test are the true target values and y_pred are the predicted target values
r2 = r2_score(y_test, y_pred)

print("R-squared: ", r2)

r2_percentage = r2 * 100

print("R-squared (%): ", r2_percentage)

print("NRMSE: ", nrmse)

R-squared:  0.28971877456289497
R-squared (%):  28.971877456289498
NRMSE:  0.2118218183073924

In [28]:
%load_ext tensorboard
# Define the number of features
features = df.shape[1] - 1

# Define placeholders
x = tf.placeholder(tf.float32, [None, features])
y = tf.placeholder(tf.float32, [None, 1])

# Define weights and bias
W1 = tf.Variable(tf.random_normal([features, 10]))
b1 = tf.Variable(tf.zeros([10]))
W2 = tf.Variable(tf.random_normal([10, 1]))
b2 = tf.Variable(tf.zeros([1]))

# Define the model
hidden_layer = tf.nn.relu(tf.matmul(x, W1) + b1)
pred = tf.matmul(hidden_layer, W2) + b2

# Define the loss function (Mean Squared Error)
loss = tf.reduce_mean(tf.square(pred - y))

# Define the optimizer (Gradient Descent)
optimizer = tf.train.GradientDescentOptimizer(0.001).minimize(loss)

# Initialize variables
init = tf.global_variables_initializer()

# Reshape y_train and y_test to be 2D arrays
y_train = y_train.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

# Start a Session
with tf.Session() as sess:
    sess.run(init)

    # Train the model
    for epoch in range(10000):
        _, c = sess.run([optimizer, loss], feed_dict={x: X_train, y: y_train})

        # Print loss every 1000 epochs
        if epoch % 1000 == 0:
            print("Epoch:", '%04d' % (epoch), "cost=", "{:.9f}".format(c))

    # Make predictions
    y_pred = sess.run(pred, feed_dict={x: X_test})

# Calculate R-Squared score
r2 = r2_score(y_test, y_pred)
print("R-Squared: ", r2)

r2_percentage = r2 * 100

print("R-squared (%): ", r2_percentage)

print("NRMSE: ", nrmse)

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
Epoch: 0000 cost= 382057760.000000000
Epoch: 1000 cost= 258311808.000000000
Epoch: 2000 cost= 255762336.000000000
Epoch: 3000 cost= 255715856.000000000
Epoch: 4000 cost= 255714976.000000000
Epoch: 5000 cost= 255714944.000000000
Epoch: 6000 cost= 255714944.000000000
Epoch: 7000 cost= 255714944.000000000
Epoch: 8000 cost= 255714944.000000000
Epoch: 9000 cost= 255714944.000000000
R-Squared:  -0.0005424164747551696
R-squared (%):  -0.05424164747551696
NRMSE:  0.2118218183073924