<a href="https://colab.research.google.com/github/elonezra/deeplearningproject/blob/main/final_project_deep_learning_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Authors: Avi and Elon ü§ó

In [1]:
# Importng necassary libraries
import pandas as pd
import numpy as np
import tensorflow.compat.v1 as tf
tf.compat.v1.disable_eager_execution()
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

C:\Users\elone\AppData\Local\Temp\ipykernel_28012\4031921163.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

WARNING:tensorflow:From c:\Users\elone\miniconda3\envs\DL\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\elone\AppData\Local\Temp\ipykernel_28012\4031921163.py:5: The name tf.disable_eager_execution is deprecated. Please use tf.compat.v1.disable_eager_execution instead.

In [2]:
df = pd.read_csv('BTC-USD.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [3]:
# We don't need the "Adj Close" column because this column is the same as the "Close" column,
# we are going to check it before earasing to make sure our assumption is true.
print(df['Adj Close'].count(), df['Close'].count()) # In this line we can see that the number of lines in both of the columns is equal
print(len(df["Close"] == df["Adj Close"])) # and in this line we compared between those columns and get as result that all lines are equal
# thus, we can remove "Asj Close" column
df = df.drop(['Adj Close'], axis = 1)
df.head()

2713 2713
2713

         Date        Open        High         Low       Close    Volume
0  2014-09-17  465.864014  468.174011  452.421997  457.334015  21056800
1  2014-09-18  456.859985  456.859985  413.104004  424.440002  34483200
2  2014-09-19  424.102997  427.834991  384.532013  394.795990  37919700
3  2014-09-20  394.673004  423.295990  389.882996  408.903992  36863600
4  2014-09-21  408.084991  412.425995  393.181000  398.821014  26580100

In [28]:
# now we want to change the 'Close' column to be 'Open_Close_Mean' column because,
# it's more common to predict the mean between the Open price and the Close price
df['Close'].rename('Open_Close_Mean')
df['Open_Close_Mean'] = (df['Open'] + df['Close']) / 2
df.drop(['Close'], axis=1)

,Date,Open,High,Low,Volume,Open_Close_Mean
0,2014-09-17,465.864014,468.174011,452.421997,21056800,461.599015
1,2014-09-18,456.859985,456.859985,413.104004,34483200,440.649993
2,2014-09-19,424.102997,427.834991,384.532013,37919700,409.449494
3,2014-09-20,394.673004,423.295990,389.882996,36863600,401.788498
4,2014-09-21,408.084991,412.425995,393.181000,26580100,403.453003
...,...,...,...,...,...,...
2708,2022-02-15,42586.464844,44667.218750,42491.035156,22721659051,43580.833985
2709,2022-02-16,44578.277344,44578.277344,43456.691406,19792547657,44270.068360
2710,2022-02-17,43937.070313,44132.972656,40249.371094,26246662813,42237.541016
2711,2022-02-18,40552.132813,40929.152344,39637.617188,23310007704,40291.554688
2712,2022-02-19,40022.132813,40246.027344,40010.867188,22263900160,40074.281250

In [30]:
# now we want to change the 'Close' column to be 'Open_Close_Mean' column because,
# it's more common to predict the mean between the Open price and the Close price
df['Close'].rename('Open_Close_Mean')
df['Open_Close_Mean'] = (df['Open'] + df['Close']) / 2
df.drop(['Close'], axis=1)

,Date,Open,High,Low,Volume,Open_Close_Mean
0,2014-09-17,465.864014,468.174011,452.421997,21056800,461.599015
1,2014-09-18,456.859985,456.859985,413.104004,34483200,440.649993
2,2014-09-19,424.102997,427.834991,384.532013,37919700,409.449494
3,2014-09-20,394.673004,423.295990,389.882996,36863600,401.788498
4,2014-09-21,408.084991,412.425995,393.181000,26580100,403.453003
...,...,...,...,...,...,...
2708,2022-02-15,42586.464844,44667.218750,42491.035156,22721659051,43580.833985
2709,2022-02-16,44578.277344,44578.277344,43456.691406,19792547657,44270.068360
2710,2022-02-17,43937.070313,44132.972656,40249.371094,26246662813,42237.541016
2711,2022-02-18,40552.132813,40929.152344,39637.617188,23310007704,40291.554688
2712,2022-02-19,40022.132813,40246.027344,40010.867188,22263900160,40074.281250

In [29]:
# In the code below we will see that our dataframe uses an object column which is not good
# because we need a numeric dataframe so, we convert this column to int64 type
# by removing the '-' char
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2713 non-null   object
 1   Open             2713 non-null   float64
 2   High             2713 non-null   float64
 3   Low              2713 non-null   float64
 4   Close            2713 non-null   float64
 5   Volume           2713 non-null   int64
 6   Open_Close_Mean  2713 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 148.5+ KB

In [ ]:
int(df.iloc[1][0].replace('-', ''))

20150105

In [ ]:
df["Date"] = df["Date"].apply(lambda x: x.replace('-','')).apply(pd.to_numeric)

In [ ]:
# Now, after we convert the "Date" column to numeric type, we can see the new data as request
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    471 non-null    int64
 1   Open    471 non-null    float64
 2   High    471 non-null    float64
 3   Low     471 non-null    float64
 4   Close   471 non-null    float64
 5   Volume  471 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 22.2 KB

       Date        Open        High         Low       Close     Volume
0  20141229  310.914001  320.434998  257.612000  264.195007  118523600
1  20150105  265.084015  298.753998  265.039001  265.660004  164241500
2  20150112  266.145996  272.203003  171.509995  210.339005  363112212
3  20150119  211.470993  255.074005  205.153000  253.718002  189165500
4  20150126  254.078995  309.384003  212.014999  226.972000  306840500

$\sigma = \sqrt(\mu_2) = \sqrt(1/n \sum(x_i - x')^2)$

$frac{1}{2}$

$ùúá^{ùëô,ùëó}= 1/m ‚àë_{ùëñ=0}^{ùëö}{ùëß_ùëñ^{ùëô,ùëó}}$ 

$ùúé^{ùëô,ùëó}=‚àö{‚àë_{ùëñ=0}^ùëö(ùëß_ùëñ^(ùëô,ùëó)‚àíùúá^(ùëô,ùëó) )^2 }$

$(ùëß_ùëñ^(ùëô,ùëó) )¬†ÃÇ= frac{ùëß_ùëñ^{ùëô,ùëó}‚àíùúá^{ùëô,ùëó}}{ùúé^{ùëô,ùëó}+ùúñ} $

In [ ]:
def mu(data):
    return np.mean(data)/len(data)

def standard_deviation(data, mu):
  # Calculate the variance of the data.
  variance = np.sum((data - mu)**2)
  # Calculate the standard deviation of the data.
  standard_deviation = np.sqrt(variance)
  return standard_deviation

In [ ]:
# As we can see, the data is not normalized so the next steps will focus on normalizing
# the data to numbers from 0 to 1 i.e. [0, 1]


df = df.apply(lambda x: (x - mu(x)) / standard_deviation(x, mu(x)))

# df = df.apply(lambda x: x/x.max())
df.head()

       Date      Open      High       Low     Close    Volume
0  0.995551  0.004745  0.004658  0.004133  0.004036  0.000155
1  0.995990  0.004046  0.004343  0.004252  0.004058  0.000214
2  0.995990  0.004062  0.003957  0.002751  0.003213  0.000474
3  0.995991  0.003228  0.003708  0.003291  0.003876  0.000247
4  0.995991  0.003878  0.004498  0.003401  0.003467  0.000400

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame
# Replace 'target' with your target column name
X = df.drop(['Close'], axis=1)
y = df['Close']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set size:", len(X_train))
print("Testing set size:", len(X_test))

Training set size: 376
Testing set size: 95

In [ ]:
# to extract the numebr of features in out dataset we need to index to the
# second element in the shape of the dataframe which is the number of columns
# in our dataframe and -1 for the features without the label
features = df.shape[1] - 1
x = tf.placeholder(tf.float32, [None, features])
y = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([features,1]))
b = tf.Variable(tf.zeros([1]))
pred = tf.matmul(x,W) + b
loss = tf.reduce_mean(tf.pow(pred - y, 2))
update = tf.train.GradientDescentOptimizer(0.001).minimize(loss)
data_x = X_train
data_y = y_train.values.reshape(-1, 1)
sess = tf.Session()
sess.run(tf.global_variables_initializer())
for i in range(0,100000):
    sess.run(update, feed_dict = {x:data_x, y:data_y})
    if i % 10000 == 0 :
        print('Iteration:' , i , ' W:' , sess.run(W) , ' b:' , sess.run(b), ' loss:', loss.eval(session=sess, feed_dict = {x:data_x, y:data_y}))

Iteration: 0  W: [[0.00047257]
 [0.00024049]
 [0.00024554]
 [0.00023494]
 [0.00013449]]  b: [0.00047303]  loss: 0.12066682
Iteration: 10000  W: [[0.00113079]
 [0.30518532]
 [0.31522274]
 [0.30469802]
 [0.11857576]]  b: [1.7310149e-05]  loss: 0.0006264917
Iteration: 20000  W: [[-0.00109881]
 [ 0.31097022]
 [ 0.32602292]
 [ 0.31876606]
 [ 0.09806485]]  b: [-0.00220429]  loss: 0.0005342983
Iteration: 30000  W: [[-0.00078027]
 [ 0.3097092 ]
 [ 0.32992014]
 [ 0.3256834 ]
 [ 0.07969462]]  b: [-0.0018544]  loss: 0.00049386616
Iteration: 40000  W: [[-0.00048714]
 [ 0.30768093]
 [ 0.33324215]
 [ 0.3315952 ]
 [ 0.06522908]]  b: [-0.0015356]  loss: 0.00046780083
Iteration: 50000  W: [[-2.5434431e-04]
 [ 3.0515605e-01]
 [ 3.3620399e-01]
 [ 3.3678710e-01]
 [ 5.3882688e-02]]  b: [-0.0012821]  loss: 0.00045062014
Iteration: 60000  W: [[-7.3162002e-05]
 [ 3.0227083e-01]
 [ 3.3888668e-01]
 [ 3.4142941e-01]
 [ 4.4983976e-02]]  b: [-0.00108409]  loss: 0.00043892447
Iteration: 70000  W: [[7.1965238e-05]
 [2.9905939e-01]
 [3.4132582e-01]
 [3.4564850e-01]
 [3.8011577e-02]]  b: [-0.00092513]  loss: 0.00043061317
Iteration: 80000  W: [[1.7650591e-04]
 [2.9561678e-01]
 [3.4369552e-01]
 [3.4950507e-01]
 [3.2531381e-02]]  b: [-0.00080898]  loss: 0.00042437617
Iteration: 90000  W: [[2.6411266e-04]
 [2.9204050e-01]
 [3.4583390e-01]
 [3.5308135e-01]
 [2.8252386e-02]]  b: [-0.00071167]  loss: 0.0004194941

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

b = tf.cast(b, tf.float32)  # Ensure b is float32
X_test_np = X_test.to_numpy().astype('float32')  # Convert X_test to numpy array of type float32

# Compute y_pred
y_pred_tensor = tf.matmul(X_test_np, W) + b  # Now X_test, W, and b are of the same type
y_pred = sess.run(y_pred_tensor)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate the range of the target variable
range_y = np.max(y_test) - np.min(y_test)

# Calculate NRMSE
nrmse = rmse / range_y

# Assuming y_test are the true target values and y_pred are the predicted target values
r2 = r2_score(y_test, y_pred)

print("R-squared: ", r2)

r2_percentage = r2 * 100

print("R-squared (%): ", r2_percentage)

print("NRMSE: ", nrmse)

R-squared:  0.9919877932512889
R-squared (%):  99.1987793251289
NRMSE:  0.022056943475388894

In [ ]:
df_test = pd.read_csv('drive/MyDrive/BTC-USD-TEST.csv')
# thus, we can remove "Asj Close" column
df_test = df_test.drop(['Adj Close'], axis = 1)
df_test["Date"] = df_test["Date"].apply(lambda x: x.replace('-','')).apply(pd.to_numeric)
start_date = 20240101
end_date = max(df_test['Date'])  # replace with your end date
mask = (df_test.index > df_test[df_test['Date']==start_date].index.values[0]) & (df_test.index <= df_test[df_test['Date']==end_date].index.values[0])
df_test = df_test.apply(lambda x: x/x.max())
subset_df = df_test.loc[mask]
subset_df.head()
X_TEST = df_test.drop(['Close'], axis=1)
Y_TEST = df_test['Close']

FileNotFoundError: [Errno 2] No such file or directory: 'drive/MyDrive/BTC-USD-TEST.csv'

In [ ]:
%load_ext tensorboard
# Define the number of features
features = df.shape[1] - 1

# Define placeholders
x = tf.placeholder(tf.float32, [None, features])
y = tf.placeholder(tf.float32, [None, 1])

# Define weights and bias
W1 = tf.Variable(tf.random_normal([features, 10]))
b1 = tf.Variable(tf.zeros([10]))
W2 = tf.Variable(tf.random_normal([10, 1]))
b2 = tf.Variable(tf.zeros([1]))

# Define the model
hidden_layer = tf.nn.relu(tf.matmul(x, W1) + b1)
pred = tf.matmul(hidden_layer, W2) + b2

# Define the loss function (Mean Squared Error)
loss = tf.reduce_mean(tf.square(pred - y))

# Define the optimizer (Gradient Descent)
optimizer = tf.train.GradientDescentOptimizer(0.001).minimize(loss)

# Initialize variables
init = tf.global_variables_initializer()

# Reshape y_train and y_test to be 2D arrays
y_train = y_train.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

# Start a Session
with tf.Session() as sess:
    sess.run(init)

    # Train the model
    for epoch in range(10000):
        _, c = sess.run([optimizer, loss], feed_dict={x: X_train, y: y_train})

        # Print loss every 1000 epochs
        if epoch % 1000 == 0:
            print("Epoch:", '%04d' % (epoch), "cost=", "{:.9f}".format(c))

    # Make predictions
    y_pred = sess.run(pred, feed_dict={x: X_test})

# Calculate R-Squared score
r2 = r2_score(y_test, y_pred)
print("R-Squared: ", r2)

r2_percentage = r2 * 100

print("R-squared (%): ", r2_percentage)

print("NRMSE: ", nrmse)

Epoch: 0000 cost= 1.811508179
Epoch: 1000 cost= 0.005723348
Epoch: 2000 cost= 0.004022389
Epoch: 3000 cost= 0.003372821
Epoch: 4000 cost= 0.003029152
Epoch: 5000 cost= 0.002825542
Epoch: 6000 cost= 0.002689255
Epoch: 7000 cost= 0.002579786
Epoch: 8000 cost= 0.002487358
Epoch: 9000 cost= 0.002407902
R-Squared:  0.9388059348896051
R-squared (%):  93.8805934889605
NRMSE:  0.022056943475388894

this is an improve code to view the graph model

In [ ]:
import datetime
# Load the TensorBoard notebook extension
%load_ext tensorboard

# Define the number of features
features = df.shape[1] - 1

# Define placeholders
x = tf.placeholder(tf.float32, [None, features])
y = tf.placeholder(tf.float32, [None, 1])

# Define weights and bias
W1 = tf.Variable(tf.random_normal([features, 10]))
b1 = tf.Variable(tf.zeros([10]))
W2 = tf.Variable(tf.random_normal([10, 1]))
b2 = tf.Variable(tf.zeros([1]))

# Define the model
hidden_layer = tf.nn.relu(tf.matmul(x, W1) + b1)
pred = tf.matmul(hidden_layer, W2) + b2

# Define the loss function (Mean Squared Error)
loss = tf.reduce_mean(tf.square(pred - y))

# Define the optimizer (Gradient Descent)
optimizer = tf.train.GradientDescentOptimizer(0.001).minimize(loss)

# Initialize variables
init = tf.global_variables_initializer()

# Reshape y_train and y_test to be 2D arrays
y_train = y_train.reshape(-1, 1)
y_test = y_test.reshape(-1, 1)

# Define the log directory for TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

# Create a summary writer and add the graph to it
writer = tf.summary.FileWriter(log_dir)
writer.add_graph(tf.get_default_graph())

writer.flush()

# Start a Session
with tf.Session() as sess:
    sess.run(init)

    # Train the model
    for epoch in range(10000):
        _, c = sess.run([optimizer, loss], feed_dict={x: X_train, y: y_train})

        # Print loss every 1000 epochs
        if epoch % 1000 == 0:
            print("Epoch:", '%04d' % (epoch), "cost=", "{:.9f}".format(c))

    # Make predictions
    y_pred = sess.run(pred, feed_dict={x: X_test})

# Create a summary writer and add the graph to it
writer = tf.summary.FileWriter(log_dir, sess.graph)
writer.add_graph(tf.get_default_graph())

# Calculate R-Squared score
r2 = r2_score(y_test, y_pred)
print("R-Squared: ", r2)

r2_percentage = r2 * 100

print("R-squared (%): ", r2_percentage)

print("NRMSE: ", nrmse)

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard
Epoch: 0000 cost= 1.647200942
Epoch: 1000 cost= 0.020976586
Epoch: 2000 cost= 0.011115481
Epoch: 3000 cost= 0.006669267
Epoch: 4000 cost= 0.004615127
Epoch: 5000 cost= 0.003605508
Epoch: 6000 cost= 0.003018435
Epoch: 7000 cost= 0.002598710
Epoch: 8000 cost= 0.002271549
Epoch: 9000 cost= 0.002004823
R-Squared:  0.9534258504277267
R-squared (%):  95.34258504277267
NRMSE:  0.022056943475388894